<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wine Quality</title>
    
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
          <a href="https://github.com/shibby576/WineSite/blob/main/README.md" class="link-primary col-lg-10 fs-4" target="_blank">What is the website all about?</a>
          <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Predict wine quality</h1>
            <p class="col-lg-10 fs-4">Enter the wine's sulfate and alcohol levels to predict it's quality score.</p>
          </div>
          <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-light" action="{{ url_for('predict')}}" method="post">
              <div class="form-floating mb-3">
                
                <label for="floatingInput">Sulfate level</label>
                <select class="form-control" id="floatingInput" name="sulfate">
                  <option value="0.0">Lowest sulfate</option>
                  <option value="0.11">Low sulfate</option>
                  <option value="0.15">Medium sulfate</option>
                  <option value="0.22">High sulfate</option>
                  <option value="1.0">Highest sulfate</option>
                </select>
              </div>
              <div class="form-floating mb-3">
                
                <label for="floatingPassword">Alcohol level</label>
                <select class="form-control" id="floatingPassword" name="alcohol">
                  <option value="0.0">Lowest Alcohol ~8.4%</option>
                  <option value="0.2">Low Alcohol ~9.5%</option>
                  <option value="0.3">Medium Alcohol ~10.1%</option>
                  <option value="0.46">High Alcohol ~11%</option>
                  <option value="1.0">Highest Alcohol ~14%</option>
                </select>
                
              </div>
              <button class="w-100 btn btn-lg btn-primary" type="submit">Predict!</button>
              
            </form>
            <b></b>
         
            <div class="alert alert-success" role="alert">
              {{ prediction_text }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              
            </div>
            
            
          </div>
        </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>